.sidebar {
  min-width: 390px;
  height: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
  border-right: 2px solid #E7E7E7;
}
.header-sidebar {
  height: 105px;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.avatar {
  width: 40px;
  height: 40px;
}
.search {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #FAFAFA;
  border: 2px solid #E7E7E7;
  border-radius: 18px;
}
.search img {
  margin-right: 10px;
}
.search input {
  border: none;
  background: none;
  width: 100%;
  outline: none;
}
.contain-box {
  padding: 12px;
}
.chats h3 {
  font-size: 20px;
  line-height: 24px;
  margin: 35px 12px 30px;
  color: #65A5C2;
}
